    .space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    }

    .space-mono-bold {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
    }

    .space-mono-regular-italic {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: italic;
    }

    .space-mono-bold-italic {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: italic;
    }

    body {
        margin: 0;
        padding: 0;
        background: #FDFFFC;
        font-family: Arial;
    }

    .main-box {
        width: 95%;
        margin: 20px auto;
        border: 6px solid #011423;
        background-color: #011627;
        padding: 20px;
        border-radius: 10px;
    }

    .top-charts {
        display: flex;
        gap: 20px;
    }

    .chart-box {
        flex: 1;
        background: #FFFCF0;
        box-shadow: 0 8px 24px rgba(15,23,42,0.06);
        border: none;
        border-radius: 12px;

        padding: 0px;
    }
    .chart-label { 
        color: #334155; 
        font-weight:600;
        text-align: center;
        margin-bottom: -4px;
        font-family: "Space Mono", monospace;
    }

    canvas {
        width: 100% !important;
        height: 160px !important;
        border-radius: 8px;
    }
    /* Controls per l'evidenziazione */
    .controls {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 12px;
    }
    .controls label { 
        font-weight: bold; 
        font-family: "Space Mono", monospace;
        color: #FFFCF0;
    }
    .controls input[type="range"] { width: 220px; }

    #speedValue {
        width: 70px;
        color: #FFFCF0;
        font-family: "Space Mono", monospace;
    }   